<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939312490837-vp1cqa4r7tneosjd4akri8aa23vdnotp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939312490837-vp1cqa4r7tneosjd4akri8aa23vdnotp</string>
	<key>API_KEY</key>
	<string>AIzaSyDPBdcwEI_G-9FSLkAB5WL95QktBdeI8Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>939312490837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goatApp</string>
	<key>PROJECT_ID</key>
	<string>goatapp-b4e08</string>
	<key>STORAGE_BUCKET</key>
	<string>goatapp-b4e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939312490837:ios:0c995893fae984c59b27dc</string>
</dict>
</plist>